@tailwind base;
@tailwind components;
@tailwind utilities;




/* Global CSS or in your HomePage.module.css */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .animate-slideIn {
    animation: slideIn 1.5s ease-out forwards;
  }
  

  /* about popup */
  @keyframes popupAnimation {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-popup {
    animation: popupAnimation 0.3s ease-out forwards;
  }
  

/* Define scrolling animation for mobile view */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Card container animation on mobile */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
  /* Apply animation only for mobile view */
}

@media (max-width: 768px) {
  /* Apply the animation only in mobile view */
  .card-container {
    animation: marquee 15s linear infinite;
  }
}

/* Center the cards in desktop view */
@media (min-width: 768px) {
  .card-container {
    justify-content: center;
  }
}

  